---
// layouts
import Layout from 'layouts/Layout.astro';

// components
import Nav from 'components/Nav/Nav.svelte';
import Footer from 'components/Footer/Footer.svelte';
import Heading from 'components/shared/Heading.svelte';
import Link from 'components/shared/Link.svelte';

// types
import type NavPropsType from 'types/props/NavPropsType';

const navProps: NavPropsType = {
  pathname: Astro.url.pathname,
}
---

<Layout title="Noureddine Feathers">
  <Nav {...navProps} client:load />
  <div class="mx-8">
    <div class="flex flex-col gap-8">
      <Heading text="Payment Cancelled" bold={true} uppercase={true} center={true} />
      <p class="text-center">Payment cancelled! Continue shopping and checkout when you are ready.</p>
      <Link text="Return Home" href="/" ariaLabel="home" />
    </div>
  </div>
  <Footer client:load />
</Layout>