---
// layouts
import Layout from '@/src/layouts/Layout.astro';

// components
import SignInForm from '@/src/components/SignInForm.svelte';
---

<Layout title="Sign In | Noureddine Feathers">
  <div class="mx-8">
    <div class="flex flex-col gap-8">
      <SignInForm client:load />
    </div>
  </div>
</Layout>