---
// layouts
import Layout from 'layouts/Layout.astro';

// components
import Heading from 'components/shared/Heading.svelte';
import ProductCardGrid from 'components/ProductCardGrid.svelte';
import Nav from 'components/Nav.svelte';
import Footer from 'components/Footer.svelte';

// types
import type ProductType from 'types/ProductType';
import type NavPropsType from 'types/props/NavPropsType';

// utils
import { getProducts } from 'utils/api';

const featherDusters: ProductType[] | undefined = await getProducts({ category: 'Feather Dusters' });

const navProps: NavPropsType = {
  pathname: Astro.url.pathname,
}
---

<Layout title="Feather Dusters | Noureddine Feathers">
  <Nav {...navProps} client:load />
  <div class="mx-8">
    <div class="flex flex-col gap-8">
      <Heading
        text="Feather Dusters"
        bold
        uppercase
      />
      <ProductCardGrid products={featherDusters} />
    </div>
  </div>
  <Footer />
</Layout>